/* Main layout - FULL SCREEN BACKGROUND IMAGE */
.dashboard-container {
  min-height: 100vh;
  width: 100%;
  background: url("../assets/tour-travel.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;

}

/* Header */
.dashboard-header {
  background-color: #e3f2fd;
  padding: 4px 14px;   /* reduced padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #bbdefb;  /* thinner border */
  height: 45px; 
  
}

.header-left {
  display: flex;
  align-items: center;
}

.dashboard-title {
  color: #1565c0;
  margin-left: 12px;
}

/* Menu Button */
.menu-btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  color: #1565c0;
}

/* Logout Button */
.logout-btn {
  padding: 6px 14px;
  border: 1px solid #1565c0;
  background-color: #1565c0 ;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #115293;
}

/* Sidebar Drawer */
.dashboard-drawer {
  position: fixed;
  top: 53px;
  left: -220px;
  width: 200px;
  height: 100%;
  background-color: #e3f2fd;
  transition: left 0.3s ease;
  padding-top: 20px;
  /*border-right: 2px solid #bbdefb;*/
  z-index: 10;
}

.dashboard-drawer.open {
  left: 0;
}

.drawer-item {
  padding: 12px 20px;
  color: #1565c0;
  cursor: pointer;
  font-weight: 500;
}

.drawer-item:hover {
  background-color: #bbdefb;
}

/* Action Buttons */
.dashboard-actions {
  margin: 20px;
}

.primary-btn {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #115293;
}

.success-btn {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

.success-btn:hover {
  background-color: #1b5e20;
}

/* Main Content - WHITE TABLE BACKGROUND */
.dashboard-content {
  flex: 1;
  /* margin: 20px; */
  margin-top: 60px;
  padding: 20px;
  background: white;               /* White background for table */
  /* border-radius: 10px; */
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  overflow-x: auto;
  
}

/* Optional: Make table inside look clean */
.dashboard-content table {
  width: 100%;
  border-collapse: collapse;
}

.dashboard-content th,
.dashboard-content td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.dashboard-content th {
  background-color: #f5f5f5;
}

