.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../assets/tour-travel.jpg") no-repeat center;
  background-size: cover;


}

.login-container{
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  height: 100%;

}



.login-title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 25px;
  color:white;
  margin-left: 500px;
  justify-content: center;
  margin-top: 150px;
  font-family: 'Times New Roman', Times, serif;
  opacity: 0;
  animation: showContent 1s ease forwards;
  animation-delay: 0.2s;
    animation: showContent 1s ease-out forwards;
  
  
  
}

.login-select {
  width: 20%;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid white;
  margin-bottom: 20px;
  background-color: transparent;
  margin-left: 520px;
  color: #f1f1f1;

  opacity: 0;
  animation: showContent 0.5s 1s linear 1 forwards;
  animation-delay: 0.4s;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  
}
option{

  color:black;
}

.login-select:focus {
  outline: none;
 
}

.login-btn {
  width: 20%;
  padding: 10px;
  background-color:#1976d2;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 520px;

  opacity: 0;
  animation: showContent 1s ease forwards;
  animation-delay: 0.6s;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
  

}

.login-btn:hover {
  background-color: #115293;
}

/* Animation Keyframes */
@keyframes showContent {
  from {
    transform: translateY(80px);
    filter: blur(8px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
